body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(to top, #4a00e0, #8e2de2);
  color: white;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

nav ul li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 0);
}

#about {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  margin: 20px 0;
}

#about h2 {
  font-size: 2em;
  color: #333;
}

#about p {
  font-size: 1.2em;
  color: #666;
}

#about img {
  width: 30%;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 10px groove gray;
}

#projects {
  padding: 40px;
  background-color: #f5f7fa;
  text-align: center;
}

#projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table th {
  background: linear-gradient(to top, #4a00e0, #8e2de2);
  color: white;
}

table td {
  background-color: #ffffff;
}

#contact {
  padding: 40px;
  background: linear-gradient(to top, #4a00e0, #8e2de2);
  color: white;
  text-align: center;
}

#contact h2 {
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  font-size: 1.2em;
}

form input,
form textarea {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 500px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: white;
  color: purple;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: rgb(19, 165, 19);
  color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1em;
}

@media (max-width: 768px) {
  header {
    padding: 30px 0;
  }

  header h1 {
    font-size: 2em;
  }

  nav ul li {
    margin: 0 40px;
  }

  #projects {
    padding: 20px;
  }

  form input,
  form textarea {
    width: 90%;
  }

  #about img {
    width: 250px;
  }

  table th,
  table td {
    padding: 8px 10px;
  }
}

@media (max-width: 576px) {
  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    margin: 10px 10px;
  }

  header h1 {
    font-size: 1.8em;
  }

  #projects ul li {
    font-size: 1em;
  }

  form {
    width: 100%;
  }
}
